.feedback-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  display: flexbox;
  align-items: center;
  margin-bottom: 1vh;
  @media (max-width: 500px) {
    width: 95vw;
  }
}

.title {
  text-align: center;
  font-weight: 600;
  font-size: 3.5vh;
  margin-bottom: 2vh;
}

.subtitle {
  text-align: center;
  font-weight: 500;
  font-size: 2vh;
}

.feedback-form input {
  align-items: center;
  padding: 1.5vh;
  width: 80vw;
  @media (max-width: 600px) {
    width: 80vw;
  }
  margin-bottom: 1.5vh;
  border-radius: 20px;
  border: 1.5px solid silver;
  font-family: "Montserrat", sans-serif;
}

.btn-wrapper {
  @media (max-width: 500px) {
    display: flex;
    justify-content: center;
  }
}

#submit {
  border: none;
  background-color: #B00000;
  color: #fff;
  padding: 10px 10px;
  border-radius: 30px;
  font-size: 2vh;
  font-weight: 500;
  cursor: pointer;
  transition: 200ms ease-in-out;
  width: 19vh;
  float: right;
  @media (max-width: 500px) {
    float: left;
  }
}

#submit:disabled {
  cursor: not-allowed;
  background-color: silver;
}

#submit:hover {
  opacity: 0.7;
  
}