.feedback-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  display: flexbox;
  align-items: center;
  margin-bottom: 1vh;
}

.title {
  text-align: center;
  font-weight: 600;
  font-size: 3.5vh;
  margin-bottom: 2vh;
}

.subtitle {
  text-align: center;
  font-weight: 500;
  font-size: 2vh;
}

.feedback-form input {
  align-items: center;
  padding: 1.5vh;
  width: 80vw;
  @media (max-width: 600px) {
    width: 95%;
  }
  margin-bottom: 1.5vh;
  border-radius: 20px;
  border: 1.5px solid silver;
  font-family: "Montserrat", sans-serif;
}

.feedback-form input:first-of-type {
  margin-top: 2vh;
}


#submit {
  border: none;
  background-color: #B00000;
  color: #fff;
  padding: 10px 10px;
  border-radius: 30px;
  font-size: 2vh;
  font-weight: 500;
  cursor: pointer;
  transition: 200ms ease-in-out;
  width: 19vh;
  float: left;
  @media (max-width: 480px) {
    position: absolute;
    top: 7px;
    right: 7px;
  }
}

#submit:hover {
  opacity: 0.7;
  
}

.submit-div {
  width: 100%;
  display: flex;
  justify-content: center;
}