button {
  border: none;
  background-color: #B00000;
  color: #fff;
  padding: 10px 10px;
  border-radius: 30px;
  font-size: 2vh;
  font-weight: 500;
  cursor: pointer;
  transition: 200ms ease-in-out;
  width: 19vh;
  float: right;

  @media (max-width: 480px) {
    position: absolute;
    top: 7px;
    right: 7px;
  }
}

button:hover {
  opacity: 0.7;
  
}

button a {
  text-decoration: none;
  color: #fff;
}

button a:hover{
  text-decoration: none;
  color: #fff;
}