@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  background-color: #fff;
  color: #222;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  width: 80vw;
  margin: 50px auto;
}

header .logo{
  font-weight: 600;
  font-size: 25px;
}

header .presentation {
  margin: 50px 0;
  background: url('./img/2019-BMW-Z4-M40i-001-2000.jpg') no-repeat;
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: center -50px;
  background-blend-mode: multiply;
  background-color: #bcbcbc;
  position: relative;
}

header .presentation::after {
  content: 'Покупка авто за рубежом. Пригоняем авто из Китая, Кореи, США и ОАЭ';
  position: absolute;
  top: 50px;
  left: 50px;
  width: 600px;
  font-size: 40px;
  font-weight: 600;
  color: #fff;
}

header .presentation::before {
  content: 'Работаем по всей России. Полное сопровождение от заказа до получения ЭПТС и учёта';
  position: absolute;
  top: 200px;
  left: 53px;
  width: 450px;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
}

footer {
  text-align: center;
  margin-top: 100px;
}