@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth
}



body {
  background-color: #fff;
  color: #222;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  width: 80vw;
  margin: 5.3vh auto;
  @media (max-width: 600px) {
    width: 95%;
    margin: 8vh auto;
  }
}

header .logo{
  font-weight: 600;
  font-size: 3vh;
}

header .presentation {
  margin: 5.5vh 0;
  background: url('./img/2019-BMW-Z4-M40i-001-2000.jpg') no-repeat;
  min-width: 100%;
  min-height: 70vh;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  background-color: #bcbcbc;
}

header .presentation .title {
  text-align: left;
  min-width: 250px;
  width: 48vw;
  font-size: 4vh;
  font-weight: 600;
  color: #fff;
  padding-top: 4vh;
  margin-left: 2vw;
}

header .presentation .subtitle {
  text-align: left;
  min-width: 250px;
  width: 37vw;
  font-size: 2vh;
  font-weight: 300;
  color: #fff;
  margin-left: 2vw;
  padding-bottom: 6vh;
}

footer {
  text-align: center;
  margin-top: 5vh;
}

.second-wrapper {
  width: 100%;
}